@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
html{
    scroll-behavior: smooth;
}
/* Constants */
:root{
    --primary:#364f6b;
    --assent:white;
    --main:'Akaya Kanadaka', cursive;
    --secon: 'Inconsolata', monospace;
    --hover:#dbf6e9;
    --under: #EBEEF2;
}
a{
    text-decoration: none !important;
    color: inherit !important;
    color: black;
}

/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 30px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>img{
    width: 80px;
}
.logo>h1{
    font-size: 1.5em;
    font-family: var(--main);
    text-transform: uppercase;
    margin: 2px 20px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secon);
    font-size: 1.3em;
    border-bottom: 2px solid var(--under);
}
ul>li{
    padding: 3px 0px;
    margin: 0px 20px;
    cursor: pointer;
}
ul>li:hover{
    border-bottom: 3px solid black;
    padding-top: 5px;
    padding-bottom: 2px;
}
ul>li:nth-child(1){
    border-bottom: 3px solid black;
    padding-top: 5px;
    padding-bottom: 3px;
}
.ham{
    display: none;
}
/* End Nav Bar */

/* -- Constants--- */

/* ---Logo End--- */

@media screen and (max-width:720px)
{
    *{
        overflow-y: visible;
    }
    .rocket{
        display: none;
    }
    .login{
        display: flex;
        flex-direction: column-reverse;
    }
    .logo{
        color: var(--assent);
    }
}

@media screen and (max-width:1000px)
{
    #stat{
        display: none;
    }
}

@media screen and (max-width:336px)
{
    .logo{
        font-size: 1.7rem;
    }
    .logo>img{
        width: 60px;
    }
}