@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    --primary:#364f6b;
    --assent:white;
    --main:'Akaya Kanadaka', cursive;
}

/* ---Logo Start Up Carvan--- */

.logo{
    margin: 10px 20px 0px 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: var(--main);
}
.logo>img{
    width: 80px;
}

/* gr base */
.gr{
    padding: 20px 40px 0px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gr-base{
    display: flex;
    flex-direction: column;
    font-family: var(--main);
    padding:0px 80px 0px 0px;
    margin-bottom: 70px;
}
.gr-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gr-base>p{
    padding: 10px 12px;
    background-color: #e4fbff;
    margin: 10px 0px 10px 0px;
    font-weight: 100;
    font-size: 1.25rem;
    
}
.gr-img>h1{
    font-size: 2.6rem;
    margin: 10px 0px 20px 0px ;
}
.gr-img>img{
    width: 500px;
    object-fit: cover;
}


/* -- END gr base -- */


/* Media query */
@media screen and (max-width:1260px)
{
    .gr{
        padding: 20px 10px 0px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 20px 0px 0px
    }
}

@media screen and (max-width:1060px)
{
    .gr{
        padding: 20px 10px 0px 30px;
        display: flex;
        flex-direction: column-reverse;
    }
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 80px 0px 80px
    }
}

@media screen and (max-width:770px)
{
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 25px 0px 10px
    }
}

@media screen and (max-width:570px)
{
    .gr-img>img{
        width: 400px;
        object-fit: cover;
    }
    .gr{
        padding: 20px 10px 0px 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 25px 0px 10px
    }
}

@media screen and (max-width:425px)
{
    .gr-img>img{
        width: 380px;
        object-fit: cover;
    }
    .gr{
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 25px 0px 10px
    }
}

@media screen and (max-width:378px)
{
    .gr-img>img{
        width: 300px;
        object-fit: cover;
    }
    .gr{
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 25px 0px 10px
    }
}

@media screen and (max-width:320px)
{
    .gr-img>img{
        width: 300px;
        object-fit: cover;
    }
    .gr{
        padding: 20px 10px 0px 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .gr-base{
        display: flex;
        flex-direction: column;
        font-family: var(--main);
        padding:0px 2px 0px 2px
    }
}



/* -- End Media query -- */
