{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '../static/css/addblog.css' %}">
    <script defer src="{%static '../static/js/addblog/addblog.js'%}"></script>
    <title>Add Blog</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img
          src="{% static '../static/media/common/Logo.png' %}"
          alt="logo"
        />
        <h1>startup carvaan</h1>
      </div>
      <ul>
        <li><a href="{% url 'dash_page' %}">Home</a></li>
        <li><a href="{% url 'blog_page' %}">Blog</a></li>
        <li><a href="{% url 'add_blog' %}">Add Blog</a></li>
        <li><a href="{% url 'help_page' %}">Help</a></li>
      </ul>
      <div class="ham">
        <img
          src="{% static '../static/media/addblog/square.png' %}"
          alt="ham"
        />
      </div>
    </nav>

    <section class="addPage" >
      <div class="hero-image">
        <img src="{% static '../static/media/addblog/main.png' %}" alt="hero image" />
      </div>

      <div class="upload">
        <div class="head">
          <h1>Share Your Ideas</h1>
          <span
            >Tell us about your problems and our support will contact you</span
          >
        </div>
        <form action="/addblog/" method="POST">
          {% csrf_token %}
          <div class="entry">
            <label for="title">Title</label>
            <input required id="title" type="text" />
          </div>
          <div class="entry">
            <label for="desc">Description</label>
            <textarea required name="" id="desc"  rows="3"></textarea>
          </div>
          <div class="upload-section ">
            <div class="upload-choices">
              <p class="video-btn" for="video link">Upload Video</p>
              <p class="image-btn" for='images link'>Upload Image</p>
            </div>
            <div class="upload-inputs">
              <input required class="image-input" type="file" name="image" id="image-link" />
              <input required class='video-input' placeholder="Enter Video Link" type='text' name='videp' id='video-link' />
            </div>
          </div>
          <button class="btn-submit" type="submit">Add Blog</button>
        </form>
      </div>
    </section>
  </body>
</html>
