{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '../static/css/blog.css' %}" />
    <link rel="icon" href="{% static '../static/media/common/Logo.png' %}" type="image/x-icon">
    <script defer src="{% static '../static/js/blog/blog.js' %}"></script>
    <title>StartUp Carvaan | Blog Page</title>
  </head>
  <body>
    <main>
        <section class="sidebar">
            <form class="search-form" >
                <input autocomplete="off" id='search-box' type="text" name="search" placeholder="Type Blog or Author Name">
                <button id='search-btn' type="submit" ><img src="{% static '../static/media/Blog/search.png' %}" alt="err"></button>
            </form>

            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>

            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>

            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>

            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>

            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>


            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>


            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>


            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>

            <div class="blog-data" id = 'slug'>
                <h1 class="blog-title">
                    What is a StartUp?.
                </h1>
                <p class="desc">
                    Lorem ipsum dolor, Sit autem reiciendis aspernatur enim dolores, dolor minima at cupiditate necessitatibus?
                </p>
                <div class="author">
                    <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                    <p class="name">Om Gupta</p>
                </div>
                <div class="interaction">
                    <div class="like">
                        <img src="{% static '../static/media/Blog/like.png' %}" alt="like-err">
                        <p>450</p>
                    </div>
                    <div class="comment">
                        <img src="{% static '../static/media/Blog/comment.png' %}" alt="comment-err">
                        <p>500</p>
                    </div>
                </div>
            </div>

        </section>
        <section class="blog-page">
            <nav>
                <img src="{% static '../static/media/common/Logo.png' %}" alt="logo-err">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Login</li>
                </ul>
            </nav>

            <div class="blog-value">
                <header class="head">
                    <p class="head-title">
                        What Is StartUp?..
                    </p>
                    <p class="head-date" >
                        01 . 04 . 2021
                    </p>
                </header>
                <div class="blog-dta">
                    <img src="{% static '../static/media/Blog/blog.jpeg' %}" alt="blog-err">
                    <div class="data">
                        <div class="options">
                            <div class="bl-author">
                                <img src="{% static '../static/media/Blog/avatar.jpeg' %}" alt="err">
                                <p class="name">Om Gupta</p>
                            </div>
                            <div class="bl-likes">
                                <img src="{% static '../static/media/Blog/like.png' %}" alt="err">
                                <p>465</p>
                            </div>
                        </div>
                        <p class="blogs-data" >
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio laboriosam velit fugit consequuntur, quam dignissimos amet quos eaque illum fugiat, corrupti fuga sapiente delectus? Quasi minima reprehenderit ipsam consequatur
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, a similique. Vitae maxime odio obcaecati similique harum consequuntur ut illum? Eum minima necessitatibus magnam quia in voluptatum consequatur inventore quisquam!
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, exercitationem modi! Est illum ducimus debitis magnam quod assumenda hic dicta, animi corrupti culpa? Obcaecati, provident ipsa reiciendis harum laudantium repellendus.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas mollitia sit quas hic nulla illo delectus inventore quaerat error! Deleniti quae ut maxime asperiores nihil quaerat dicta autem? Enim, sequi.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel pariatur sequi non! Cum earum provident exercitationem tenetur quam quo quas ratione rem sunt aliquam, alias temporibus ad veritatis sed ut.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit similique repudiandae ut fugit nam soluta deserunt beatae at doloribus adipisci quibusdam, eligendi suscipit recusandae labore perspiciatis expedita necessitatibus quo impedit!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis dolorum aut asperiores fuga iusto doloremque, tenetur vero magnam quasi recusandae velit inventore laboriosam. Incidunt perferendis fugiat vitae nostrum. Vero.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique eos animi beatae cumque numquam, blanditiis fugit provident, ipsam aperiam porro sed qui! Excepturi corrupti ea ipsa accusamus mollitia quibusdam quod.
                            <br>
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nobis! Itaque a maiores officia dicta! Labore veniam vitae sunt alias sed non voluptate, illo temporibus numquam, ullam dolore in rerum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nostrum alias minima distinctio a repellendus tempore maxime, rem aut, modi eaque hic nobis esse natus porro odit repellat molestias inventore!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident aliquam dolor repudiandae itaque dolorum earum quia sed necessitatibus, molestiae, quibusdam quam quis perspiciatis non commodi quod. Maiores, illo nesciunt!
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet tempora cumque in repellendus id laboriosam accusamus, saepe dolorum itaque molestiae excepturi iste sapiente perspiciatis aut cupiditate nesciunt tenetur asperiores est!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, fugiat nemo molestiae veniam soluta voluptates, ullam doloribus ducimus nostrum, facere id deleniti omnis eius alias! Vel animi sit quaerat iste.
                        </p>
                        <div class="blogs-comment">
                            <form class="add-cmmts">
                                <div class="cmmts-input">
                                    <img src="{% static '../static/media/Blog/avatar2.jpeg' %}" alt="err">
                                    <textarea rows="2" cols="50" placeholder="Enter the Comment" type="text"></textarea>
                                </div>
                                <div class="cmmts-btn">
                                    <button>Send</button>
                                </div>
                            </form>

                            <button class="btn-comments" >
                                <img src="{% static '../static/media/Blog/comment.png' %}" alt="comments-err" />
                                <p>Comments</p>
                                <p>(5)</p>
                                <img id="arrow-btn" src="{% static '../static/media/Blog/arrow.svg' %}" alt="err">
                            </button>

                            <div class="cmmts">
                                <div class="user-name">
                                    <img src="{% static '../static/media/Blog/avatar2.jpeg' %}" alt="err">
                                    <p>Om Gupta</p>
                                </div>
                                <div class="cmmts-desc">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolorem, laboriosam neque debitis tempora vel. Labore excepturi ducimus fuga maxime, quas officia laborum inventore facilis? Non incidunt quia sint aperiam.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, delectus voluptatibus accusamus nesciunt aut consequatur natus voluptatum, nulla cupiditate aliquid animi molestiae asperiores tempora quidem illo. Dignissimos est consequuntur culpa.</p>
                                </div>
                            </div>

                            <div class="cmmts">
                                <div class="user-name">
                                    <img src="{% static '../static/media/Blog/avatar2.jpeg' %}" alt="err">
                                    <p>Om Gupta</p>
                                </div>
                                <div class="cmmts-desc">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolorem, laboriosam neque debitis tempora vel. Labore excepturi ducimus fuga maxime, quas officia laborum inventore facilis? Non incidunt quia sint aperiam.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, delectus voluptatibus accusamus nesciunt aut consequatur natus voluptatum, nulla cupiditate aliquid animi molestiae asperiores tempora quidem illo. Dignissimos est consequuntur culpa.</p>
                                </div>
                            </div>

                            <div class="cmmts">
                                <div class="user-name">
                                    <img src="{% static '../static/media/Blog/avatar2.jpeg' %}" alt="err">
                                    <p>Om Gupta</p>
                                </div>
                                <div class="cmmts-desc">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolorem, laboriosam neque debitis tempora vel. Labore excepturi ducimus fuga maxime, quas officia laborum inventore facilis? Non incidunt quia sint aperiam.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, delectus voluptatibus accusamus nesciunt aut consequatur natus voluptatum, nulla cupiditate aliquid animi molestiae asperiores tempora quidem illo. Dignissimos est consequuntur culpa.</p>
                                </div>
                            </div>

                            <div class="cmmts">
                                <div class="user-name">
                                    <img src="{% static '../static/media/Blog/avatar2.jpeg' %}" alt="err">
                                    <p>Om Gupta</p>
                                </div>
                                <div class="cmmts-desc">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolorem, laboriosam neque debitis tempora vel. Labore excepturi ducimus fuga maxime, quas officia laborum inventore facilis? Non incidunt quia sint aperiam.</p>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, delectus voluptatibus accusamus nesciunt aut consequatur natus voluptatum, nulla cupiditate aliquid animi molestiae asperiores tempora quidem illo. Dignissimos est consequuntur culpa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
  </body>
</html>
