{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <title>Dashboard</title>
    <style>
      .chart {
        width: 100%; /* Can be in percentage also. */
        height: 240px;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        background: url("../static/media/dashboard/sample\ bar\ graph.png");
        background-size: cover;
      }
      a {
        text-decoration: none;
        list-style: none;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="login-wrapper">
      <nav>
        <div class="logo">
          <img
            src="{% static '../static/media/common/Logo.png' %}"
            alt="logo"
          />
          <h1>startup carvaan</h1>
        </div>
        <ul>
          <li><a href="{% url 'dash_page' %}">Home</a></li>
          <li><a href="{% url 'blog_page' %}">Blog</a></li>
          <li><a href="{% url 'add_blog' %}">Add</a></li>
          <li><a href="{% url 'help_page' %}">Help</a></li>
          {% if val %}
          <li><a href="{% url 'help_dash_page' %}">Help Dash</a></li>
          <li><a href="{% url 'table_page' %}">Start Dash</a></li>
          <li><a href="{% url 'compdash' %}">Comp Dash</a></li>
          <li><a href="{% url 'joindash' %}">Join Dash</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <div class="ham">
          <img
            src="{% static '../static/media/addblog/square.png' %}"
            alt="ham"
          />
        </div>
      </nav>
      <div class="row">
        <div class="col-lg-3" id="stat">
          <img
            src="{% static 'media/dashboard/Main Illustation.png' %}"
            class="my-2"
            style="width: 100%; height: auto"
            alt="err"
          />
        </div>
        <div class="col-lg-5" style="background: #f6f6f6; border-radius: 10px">
          <div class="row mt-2 row-eq-height">
            <div class="col-xs-12 col-sm-6 panel container">
              <div
                class="my-2"
                style="
                  width: 100%;
                  height: 160px;
                  background: #fff;
                  border-radius: 5px;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-center"
                  style="height: 100%"
                >
                  <span
                    style="
                      position: absolute;
                      top: 15px;
                      left: 25px;
                      font-weight: bolder;
                      font-size: 18px;
                      color: #808080;
                    "
                    >People Invested</span
                  >
                  <h1>10K</h1>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 panel container">
              <div
                class="my-2"
                style="
                  width: 100%;
                  height: 160px;
                  background: #fff;
                  border-radius: 5px;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-center"
                  style="height: 100%"
                >
                  <span
                    style="
                      position: absolute;
                      top: 15px;
                      left: 25px;
                      font-weight: bolder;
                      font-size: 18px;
                      color: #808080;
                    "
                    >Total Shares</span
                  >
                  <h1>57,000</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-6 panel container">
              <div
                class="my-2"
                style="
                  width: 100%;
                  height: 160px;
                  background: #fff;
                  border-radius: 5px;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-center"
                  style="height: 100%"
                >
                  <span
                    style="
                      position: absolute;
                      top: 15px;
                      left: 25px;
                      font-weight: bolder;
                      font-size: 18px;
                      color: #808080;
                    "
                    >Buying Price</span
                  >
                  <h1>$127</h1>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 panel container">
              <div
                class="my-2"
                style="
                  width: 100%;
                  height: 160px;
                  background: #fff;
                  border-radius: 5px;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-center"
                  style="height: 100%"
                >
                  <span
                    style="
                      position: absolute;
                      top: 15px;
                      left: 25px;
                      font-weight: bolder;
                      font-size: 18px;
                      color: #808080;
                    "
                    >Selling Price</span
                  >
                  <h1>$158</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-6 panel container">
              <div
                class="my-2"
                style="
                  width: 100%;
                  height: 160px;
                  background: #fff;
                  border-radius: 5px;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-center"
                  style="height: 100%"
                >
                  <span
                    style="
                      position: absolute;
                      top: 15px;
                      left: 25px;
                      font-weight: bolder;
                      font-size: 18px;
                      color: #808080;
                    "
                    >Shares Occupied</span
                  >
                  <h1>30,500</h1>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 panel container">
              <div
                class="my-2"
                style="
                  width: 100%;
                  height: 160px;
                  background: #fff;
                  border-radius: 5px;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-center"
                  style="height: 100%"
                >
                  <span
                    style="
                      position: absolute;
                      top: 15px;
                      left: 25px;
                      font-weight: bolder;
                      font-size: 18px;
                      color: #808080;
                    "
                    >Shares Available</span
                  >
                  <h1>72,800</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="container">
            <div class="row">
              <div class="col">
                <div
                  class="chart"
                  style="border-radius: 20px; border: 2px solid #f6f6f6"
                ></div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div
                  class="chart"
                  style="
                    border-radius: 20px;
                    border: 2px solid #f6f6f6;
                    margin-top: 70px;
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
