{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/general.css' %}">
    <title>General Page</title>
</head>
<body>
    <div class="gr-wrapper">
        <div class="logo">
            <img src="{% static '../static/media/common/Logo.png' %}" alt="err">
            <p>StartUp Carvan</p>
        </div>
        <div class="gr">

            <div class="gr-base">
                <div class="gr-img">
                    <img src="{% static '../static/media/generalPage/users.png' %}" alt="err">
                    <h1>User/Investors</h1>
                </div>
                <p>Users/Investors joined with our platform can explore startup Ideas.</p>
                <p>Get Plenty of startups to choose from and invest.</p>
                <p>Connect with out website and get opportunities to work from  home.</p>
                
            </div>

            <div class="gr-base">
                <div class="gr-img">
                    <img src="{% static '../static/media/generalPage/staartups.png' %}" alt="err">
                    <h1>Startups</h1>
                </div>
                <p>Join our platform to hire people interested to work with your ideas.</p>
                <p>Get Investors wiling to fund your ideas.</p>
                <p>Boost your startups by including people from vast global pool.</p>    
            </div>

        </div>
</body>
</html>