{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div class="logo">
        <img src="{% static '/images/Logo.png' %}" alt="err">
        <p>StartUp Caravan</p>
    </div>
    <div class="login">
        <div class="card col-primary">
            <img src="{% static '/images/User.png' %}" alt="err">
            <p>User</p>

            <div class="fr">
                <img src="{% static '/images/avatar.svg' %}" alt="err">
                <input type="text" placeholder="Username" >    
            </div>

            <div class="fr">
                <img src="{% static '/images/password.svg' %}" alt="err">
                <input type="password" placeholder="Password">
            </div>

            <div class="options">
                <div class="rem">
                    <input type="checkbox">
                    <p>Remember</p>
                </div>
                <p class="border-primary" >Forgot Password ?.</p>
            </div>

            <button type="submit" class="primary col-assent" >Login</button>


        </div>

        <div class="card primary col-assent">
            <img src="{% static '/images/Startup.png' %}" alt="err">
            <p>StartUp</p>

            <div class="fr">
                <img src="{% static '/images/avatar.svg' %}" alt="err">
                <input type="text" placeholder="Username" >    
            </div>

            <div class="fr">
                <img src="{% static '/images/password.svg' %}" alt="err">
                <input type="password" placeholder="Password">
            </div>

            <div class="options">
                <div class="rem">
                    <input type="checkbox">
                    <p>Remember</p>
                </div>
                <p class="border" >Forgot Password ?.</p>
            </div>

            <button type="submit" class="col-primary" >Login</button>
        </div>
    </div>


</body>
</html>