{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>STARTUP CARVAAN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/startups.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
ul li{
  margin-bottom: 20px;
}
ol li{
  margin-bottom: 20px;
  font-size: 18px;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white"><img src="../../static/media/common/Logo.png" width= 30 height = 30 alt="" style = "margin-right: 10px;">CARVAAN</a>
  </div>

  <!-- Navbar on small screens -->
  <!-- <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  </div> -->
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Startup Page</h1>
  <p class="w3-xlarge">some really nice opening line/description</p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h1 class = "w3-center">Requirements</h1>
    <div>
      <ol style = "list-style-type: disc;">
        <li><h3 class = "w3-padding-16">An idea which can be converted into a startup in less than 1year.</h3></li>
        <li>
          <h3 class = "w3-padding-16">If an idea is unique then the pitch should include</h3>
          <ol>
            <li>The problem</li>
            <li>The solution</li>
            <li>The product</li>
            <li>The customers</li>
          </ol>
        </li>
        <li>
          <h3 class = "w3-padding-16">If an idea is not unique, then the pitch should include</h3>
          <ol>
            <li>The problem</li>
            <li>The solution</li>
            <li>The product</li>
            <li>The customers</li>
            <li>The competition</li>
            <li>The competitive advantages</li>
          </ol>
        </li>
        <li>
          <h3 class = "w3-padding-16">You have to provide these details in the second round</h3>
          <ol>
            <li>The business model</li>
            <li>The financial projections</li>
            <li>Milestones with expenditures</li>
          </ol>
        </li>
        <li><h3 class = "w3-padding-16">You can be a team or an individual, but after you get selected you have to open a pvt ltd company.</h3></li>
        <li><h3 class = "w3-padding-16">We will buy your some percent shares in exchange for the funds.</h3></li>
      </ol>
<!-- 
      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    </div>
    <div class="w3-third w3-center">
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-32 w3-container">
  <div class="w3-content">
    <h1 class = "w3-center">Rules and Regulations</h1>
    <div>
      <ol style = "list-style-type: disc;">
        <li><h3 class = "w3-padding-16">You have to post your blogs from the web continuously about your growth and development, if you break this continuity you will be fined.</h3></li>
        <li><h3 class = "w3-padding-16">You will be given money on the slot / milestones provided by you and you can also ask for early funds with proper documentation.</h3></li>
        <li><h3 class = "w3-padding-16">You have to be regular with your work , a team will always monitor your work and can ask for updates anytime and you have to provide it.</h3></li>
        <li><h3 class = "w3-padding-16">You have to give you family details and asset details and you must provide a security before getting any funds.</h3></li>
        <li><h3 class = "w3-padding-16">If you go away in between the process, then we(startup carvaan) can claim the given amount from your guarantor.</h3></li>
        <li><h3 class = "w3-padding-16">You will not be charged for any loss in the startup, that means if we provide you an amount and you spend it for the startup , you will not be fined.</h3></li>
        <li><h3 class = "w3-padding-16">You will be given the whole amount as promised irrespective of users like your startup or not but you have to achieve your development strategic milestones to receive continuous fundings.</h3></li>
      </ol>
      <!-- <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    </div>
    <div class="w3-third w3-center">
    </div>
  </div>
</div>

<!-- First Grid -->
<div class="w3-row w3-light-grey w3-padding-64 w3-container">
  <div class="w3-col m5 w3-center w3-container">
    <img src="../static/media/startups/dashboard.png" style = "width: 100%; height: auto;" alt="">
  </div>

  <div class="w3-col m7">
    <h1>Dashboard</h1>
    <h3 class="w3-padding-16">The Startup dashboard has a lot features to help you analyse and track many important details about your startup.Such as:-</h3>
    <ul style = "margin-left: -20px;list-style-type: decimal;font-size: 20px;">
      <li>Details of your shares</li>
      <li>Startup Growth</li>
      <li>Growth of RCI</li>
    </ul>
</div>
</div>

<!-- Second Grid -->
<div class="w3-row w3-light-grey w3-padding-64 w3-container">
  <div class="w3-col m5 w3-center w3-container">
    <img src="../static/media/startups/add-blog.png" style = "width: 100%; height: auto;" alt="">
  </div>

  <div class="w3-col m7">
    <h1>Add Post</h1>
    <h3 class="w3-padding-16">We have introduced another great feature on our platform which helps users to get the most out of us.Users can:-</h3>
    <ul style = "margin-left: -20px;list-style-type: decimal;font-size: 20px;">
      <li>Add a blog post</li>
      <li>Share their startup ideas</li>
      <li>Add details of your startup to get some reach</li>
      <!-- <li>Get a dedicated team for their startup</li> -->
    </ul>
</div>
</div>

<div class="w3-row w3-light-grey w3-padding-64 w3-container">
  <div class="w3-col m5 w3-center w3-container">
    <img src="../static/media/startups/help.png" style = "width: 100%; height: auto;" alt="">
  </div>

  <div class="w3-col m7">
    <h1>Ask for Help</h1>
    <h3 class="w3-padding-16">Our help desk is 24x7 dedicated to solve any query or problems.Users can:-</h3>
    <ul style = "margin-left: -20px;list-style-type: decimal;font-size: 20px;">
      <li>Ask for any kind of help from experts.</li>
      <li>Get their problems solved by our team.</li>
      <li>Get a dedicated team for their startup</li>
    </ul>
</div>
</div>

<div class="w3-row w3-light-grey w3-padding-64 w3-container">
    <div class="w3-col m5 w3-center w3-container">
      <img src="../static/media/startups/blog.png" style = "width: 100%; height: auto;" alt="">
    </div>

    <div class="w3-col m7">
      <h1>Check out our blog</h1>
      <h3 class="w3-padding-16">Our Blog is a place where a you will find several other people with tons of new startup ideas and discussion going on.This will help in:-</h3>
      <ul style = "margin-left: -20px;list-style-type: decimal;font-size: 20px;">
        <li>Formulating a better plan for your startup</li>
        <li>Getting the basics right.</li>
        <li>Discussing the challenges and finding their solutions.</li>
      </ul>
  </div>
</div>

<!-- Footer -->
<section class="ft" >
  <div class="ft-logo">
      <img src="{% static '../static/media/common/Logo.png' %}" alt = 'err'>
      <p>StartUp Carvan</p>
  </div>
  <div class="ft-options">
      <p>About</p>
      <p>Contact</p>
      <p>Downloads</p>
      <p>Others</p>
  </div>
</section>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>